

{% extends "empresas/base.html" %}
{% load static %}

    {% block titulo %}<title>{{empresa.nombre}}</title>{% endblock titulo %}

    {% block content %}

    
    <h1>{{empresa.nombre}}</h1>
    
    <div class="container">
        <canvas id="myChart"></canvas>
    </div>


   
    <table>
        <tr>
            <th>No</th>
            <th>Fecha</th>
            <th>Apertura</th>
            <th>Máximo</th>
            <th>Mínimo</th>
            <th>Cierre</th>
            <th>Volumen</th>
        </tr>
        {% for precio_empresa in precios_empresa %}
        <tr>
            <td>{{precio_empresa.id}}</td>
            <td>{{precio_empresa.fecha}}</td>
            <td>{{precio_empresa.precio_apertura}}</td>
            <td>{{precio_empresa.precio_maximo}}</td>
            <td>{{precio_empresa.precio_minimo}}</td>
            <td>{{precio_empresa.precio_cierre}}</td>
            <td>{{precio_empresa.volumen}}</td>
        </tr>
        {% endfor %}
    </table>
    




<script type="text/javascript">
    $.get('{% url "empresas:line_chart_json" empresa.id %}', function(data) {
        var ctx = $("#myChart").get(0).getContext("2d");
        new Chart(ctx, {
            type: 'line', data: data, id: {{empresa.id}}
            
        });
    });
</script>
{% endblock content %}
