<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Precio Empresas</h1>
    <ul>
       
        <li>
            {{precio_empresa.id_empresa}}  {{precio_empresa.nombre_empresa}}  {{precio_empresa.fecha}} {{precio_empresa.precio_apertura}}{{precio_empresa.precio_maximo}}{{precio_empresa.precio_minimo}}{{precio_empresa.precio_cierre}}{{precio_empresa.volumen}}
        </li>

    </ul>
    </ul>
</body>
</html>